<!-- Populate a table row with order info and have a trash can shaped button to delete the order -->
<tr>
  <td>
    <%= order.id %>
  </td>
  <td>
    <%=order.created_at %>
  </td>
  <td>
    <% order.order_entries.each do |i| %>
      <%if i.product.presence%>
        <p><%=i.product.name%> x <%=i.quantity %></p>
      <%else %>
        <p><%=t('.no_longer') %></p>
      <%end %>
    <%end %>
  </td>
  <td>
    <%= humanized_money_with_symbol order.totalCost %>
  </td>
  <td>
    <%=order.email%>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, order], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: t('.confirm') } %>
  </td>
</tr>