<!-- Build and displat a table of all orders and key info -->
<h2><%=t('.page_title') %></h2>
<%=render 'admin/adminNavbar' %>
<table>
  <thead>
  <tr>
    <th><%=t('.id_title') %></th>
    <th><%=t('.date_title') %></th>
    <th><%=t('.items_title') %></th>
    <th><%=t('.price_title') %></th>
    <th><%=t('.email_title') %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render @orders %>
  </tbody>
</table>