<!--
Gather all info required to create a new section. Has html id if validation needed later but as it is an internal
admin page it is assumed the user is proficient enough to make sure the form is correct before submitting
 -->
<%= form_for [:admin, @section], :html => {:id => 'NewSectForm'} do |f| %>
  <% if f.object.errors.any? %>
    <strong><%=t('.fail') %></strong>
    <ul>
      <%f.object.errors.full_messages.each do |err| %>
        <li><%=err %></li>
      <%end %>
    </ul>
  <%end %>

  <%=f.label :name %>
  <%=f.text_field :name %>
  <%=f.submit t('.sub_button') %>
<%end %>