<%= form_for @user, url: signup_url, :html => {:id => 'SignupForm'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %>
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :firstName, t('.fname_prompt') %>
  <%= f.text_field :firstName,:html => {:id => 'Fname'}  %>
  <%= f.label :lasstName, t('.lname_prompt') %>
  <%= f.text_field :lastName, :html => {:id => 'Lname'}  %>
  <br>
  <%= f.label :firstName, t('.email_prompt') %>
  <%= f.text_field :email, :html => {:id => 'Email'} %>
  <br>
  <%= f.label :password, t('.pword_prompt') %>
  <%= f.password_field :password, :html => {:id => 'Password'} %>
  <%= f.label :password, t('.pword_prompt') %>
  <%= f.password_field :password_confirmation, :html => {:id => 'PasswordConf'} %>
  <br>
  <%= f.submit "Submit"%>
<% end %>