<h1 class="pageTitle">Order Summary - <%=@order.id %></h1><hr>
<h3>Thanks for the Order <%= @order.email %></h3><br>
Order placed at <%= @order.created_at %>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <%=render "entry"%>
  </tbody>
  <tfoot>
    <tr>
      <th>
        Total spend:
      </th>
      <th>
        <%= humanized_money_with_symbol @order.totalCost %>
      </th>
    </tr>
  </tfoot>
</table>