<h1 class="pageTitle"><%=t('.page_title') %></h1>
<%if cart.blank? %>
  <h1 class="alert"><%=t('.empty') %></h1>
<%else%>
  <table>
    <thead>
      <tr>
        <th><%=t('.item_title') %></th>
        <th></th>
        <th><%=t('.cost_title') %></th>
        <th><%=t('.quan_title') %></th>
        <th><%=t('.price_title') %></th>
      </tr>
    </thead>
    <tbody>
      <%@totalCost = 0 %>
      <%cart.each do |prodId, info| %>
        <%= render 'entry', prodId: prodId, info: info%>
      <%end %>
    </tbody>
    <tfoot>
      <tr>
        <th>
          <%=t('.total_title') %>
        </th>
        <th>
          <%= humanized_money_with_symbol @totalCost%>
        </th>
      </tr>
    </tfoot>
  </table>
  <%=form_for :order, url: orders_url do |f|%>
    <%= f.email_field :Email, value: curr_user.email%>
    <%= f.submit t('.sub_button')%>
  <%end %>
<%end%>