<h1 class="pageTitle">Shopping Cart</h1>
<%if cart.blank? %>
  <h1 class="alert">Empty cart</h1>
<%else%>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Unit cost</th>
        <th>Number</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <%@totalCost = 0 %>
      <%cart.each do |prodId, info| %>
        <%= render 'entry', prodId: prodId, info: info%>
      <%end %>
    </tbody>
    <tfoot>
      <tr>
        <th>
          Total -
        </th>
        <th>
          <%= humanized_money_with_symbol @totalCost%>
        </th>
      </tr>
    </tfoot>
  </table>
  <%=form_for :order, url: orders_url do |f|%>
    <%= f.email_field :Email, value: curr_user.email%>
    <%= f.submit "Submit"%>
  <%end %>
<%end%>