<!--No need to localise strings because whole email template is treated as localised -->
<p><%= "Dear Shop owner"%></p>
<p>Could you get in touch with me please?</p>
<dl>
  <dt>Name:</dt>
  <dd><%=@name %></dd>

  <dt>Email:</dt>
  <dd><%=@email %></dd>

  <dt>PhoneNumber:</dt>
  <dd><%=@telephone %></dd>
</dl>
<h4>Message:</h4>
<p><%=@message %></p>
<p>Thanks,<br> <%=@name %></p>