<tr>
  <td>
    <%= image_tag product.image.small.url %>
  </td>
  <td>
    <h5><%=product.name %></h5><br>
    <p><%=product.description %></p>
  </td>
  <td>
    <%=product.section.name %>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price %>
  </td>
  <td>
    <%=product.stockCount %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, product], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Confirm?" } %>
  </td>
</tr>