<!--Build and display a table of product info -->
<h2><%=t('.page_title') %></h2>
<%=render 'admin/adminNavbar' %>
<strong><%= link_to t('.new_button'), [:new, :admin, :product]%></strong>
<table>
  <thead>
    <tr>
      <th><%=t('.prod_title') %></th>
      <th></th>
      <th><%=t('.sect_title') %></th>
      <th><%=t('.price_title') %></th>
      <th><%=t('.stock_title') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>

