<!--
Populate a table row with user info, will have a tick in the admin column if admin
and have a trash can shaped button to delete the product
-->
<tr>
  <td><%= user.firstName%></td>
  <td><%= user.lastName%></td>
  <td><%= user.email%></td>
  <td><%= user.created_at%></td>
  <td>
    <% if user.admin %>
      <%= fa_icon('check-circle')%>
    <%end %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, user],  class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: t('.confirm') } %>
  </td>
</tr>