<!--Build table of user info -->
<h2><%=t('.page_title') %></h2>
<%=render 'admin/adminNavbar' %>
<%= link_to t('.new_button'), [:new, :admin, :user]%>
<table>
  <thead>
  <tr>
    <th><%=t('.fname_title') %></th>
    <th><%=t('.lname_title') %></th>
    <th><%=t('.email_title') %></th>
    <th><%=t('.date_title') %></th>
    <th><%=t('.admin_title') %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render @users %>
  </tbody>
</table>