<section class="prdouctFocus">
  <header class="PageSpecificHeader">

  </header>
  <article class="productDetails">
    <h4>
      Image: <%=image_tag @product.image.main.url %>
      <br>
      Name: <%= @product.name %>
      <br>
      Desc: <%= @product.description %>
      <br>
      Stock: <%= @product.stockCount %>
      <br>
      Price: <%= humanized_money_with_symbol @product.price %>
      <br>
      Reviews:
    </h4>
    <%if curr_user %>
      <%= form_for(Review.new, url: product_reviews_url(@product,@review)) do |f|%>
        <h5>Add a Review</h5>
        <%= f.select :rating,
                     options_for_select([['Amazing',5],
                                         ['Good', 4],
                                         ['Okay', 3],
                                         ['Bad', 2],
                                         ['Really Bad', 1],
                                         ['Give me my money back',0]
                                        ])%>
        <%= f.text_area :content%>
        <%= f.submit "Submit Review + Rating" %>
      <%end %>
    <%end %>
    <% @product.reviews.each do |i| %>
      <%= i.rating%> - <%=i.content %> <br>
      <% if i.user == curr_user %>
        <%= link_to "REMOVE REVIEW", product_review_path(@product, i), :method => :delete%>
      <%end %>
      <hr>
    <% end %>
    <br>
  </article>
</section>