<!--Display a specific product th reviews and allow for a review to be left -->
<section class="prdouctFocus">
  <article class="productDetails">
    <%=image_tag @product.image.main.url %><br>
    <h3><%= @product.name %></h3><br>
    <h4><%=t('.desc_title') %></h4> <br><p><%= @product.description %></p><br>
    <h4><%=t('.stock_title') %></h4> <h3><%= @product.stockCount %></h3><br>
    <h4><%=t('.price_title') %></h4> <h3><%= humanized_money_with_symbol @product.price %></h3><br>
    <h3><%=t('.reviews_title') %></h3><br>
    <%if curr_user %>
      <%= form_for(Review.new, url: product_reviews_url(@product,@review)) do |f|%>
        <%= f.select :rating,
                     options_for_select([[t('.lvl5'),5],
                                         [t('.lvl4'), 4],
                                         [t('.lvl3'), 3],
                                         [t('.lvl2'), 2],
                                         [t('.lvl1'), 1],
                                         [t('.lvl0'),0]
                                        ])%><br>
        <%= f.text_area :content%><br>
        <%= f.submit t('.sub_button') %>
      <%end %>
    <%end %>
    <% @product.reviews.each do |i| %>
      <strong><%= i.rating%> / 5</strong> - <%=i.content %> <br>
      <% if i.user == curr_user %>
        <%= link_to t('.remove_button'), product_review_path(@product, i), :method => :delete%>
      <%end %>
      <hr>
    <% end %>
    <br>
  </article>
</section>